body {
  background: url('https://www.toptal.com/designers/subtlepatterns/patterns/concrete_seamless.png');
}

.jumbotron {
  /* height: 300px; */
  color: #fff;
  font-size: 36pt;
  clear: both; 
  padding: 75px 0; 
  text-align: center;
  background-image: url('https://cdn.pixabay.com/photo/2014/10/22/16/38/buildings-498198_1280.jpg');
  background-size: cover; 
}

.jumbotron h1{
  padding: 10px 15px;
  background: rgba(0, 0, 0, 0.3);
}

.text-muted {
  font-size: 7pt;
}

.articleSection a {
  color: black;
}

